    body {
      background-color: #212529!important;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    h1 {
      margin-bottom: 3rem;
    }

    .card {
      max-width: 600px;
      width: 100%;
      padding: 30px;
    }